@import url("./theme.css");

:root {
    --padding: 1rem;
    --small-padding: calc(var(--padding) / 2);
    --radius: 10px;
    --gap: 1rem;
    --text-size: 1.02em;

    --danger: #ff0000;
    --danger-dark: #c30000;
}

@media screen and (max-width: 768px) {
    :root {
        --text-size: 0.95em;
    }
}

/* General */

body {
    margin: 0px;

    background-color: var(--bg);

    font-family: Arial, sans-serif;
}

* {
    font-size: var(--text-size);
    color: var(--text);

    transition: all 0.3s ease, font-size 0s ease;
}

/* Links */

a {
    color: var(--text);
    text-decoration: none;

    width: fit-content;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
    cursor: pointer;
}

/* Paragraphs */
p {
    line-height: 1.5;

    background-color: var(--bg-light);
    padding: var(--padding);
    border-radius: var(--radius);
}
/* Icons */

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-icons,
.material-icons-outlined,
.material-symbols-outlined {
    vertical-align: top;
}

/* Headings and others text things */

h1 {
    font-size: calc(var(--text-size) * 2);
}

h2 {
    font-size: calc(var(--text-size) * 1.5);
}

h3 {
    font-size: calc(var(--text-size) * 1.17);
}

sup,
sub {
    font-size: calc(var(--text-size) / 1.5);
}

/* Inputs */

select,
textarea,
input,
#resultDisplay {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: var(--radius);

    padding: var(--small-padding);
    width: fit-content;

    border: solid 4px var(--bg-dark);
}

select:focus,
textarea:focus,
input:focus {
    outline: none;
    border: double 4px var(--bg-dark);
}

@media (max-width: 768px) {
    h1 {
        font-size: calc(var(--text-size) * 1.5);
    }

    h2 {
        font-size: calc(var(--text-size) * 1.17);
    }

    h3 {
        font-size: calc(var(--text-size) * 1);
    }
}
