/* DEBUG */

:root.debug * {
    outline: var(--accent) dotted 2px;
    outline-offset: -2px;
}

/* DARK */

:root.theme_dark {
    --bg: #303030;
    --bg-dark: #202020;
    --bg-light: #404040;

    --text: #ffffff;
    --opptext: #000000;
}

:root.theme_dark .btn:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

:root.theme_dark .btn-normal {
    background-color: var(--bg-light);
}

:root.theme_dark select,
:root.theme_dark option,
:root.theme_dark input,
:root.theme_dark textarea,
:root.theme_dark #resultDisplay,
:root.theme_dark .category_item > span {
    color: var(--opptext);
}

/* LIGHT */

:root.theme_light {
    --bg: #dbdbdb;
    --bg-dark: #a9a9a9;
    --bg-light: #e6e6e6;

    --text: #000000;
    --opptext: #ffffff;
}

:root.theme_light .btn:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

:root.theme_light .btn-normal {
    background-color: var(--bg-dark);
}

/* PINK */
:root.theme_pink {
    --bg: #f5d0e1;
    --bg-dark: #f2a3c7;
    --bg-light: #f8d4e6;

    --text: #000000;
    --opptext: #ffffff;
}

:root.theme_pink .btn:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

:root.theme_pink .btn-normal {
    background-color: var(--bg-dark);
}

/* COOKIE */
:root.theme_cookie {
    --bg: #d6a24e;
    --bg-dark: #b3863f;
    --bg-light: #ffc76d;

    --text: #000000;
    --opptext: #ffffff;
}

:root.theme_cookie .btn:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

:root.theme_cookie .btn-normal {
    background-color: var(--bg-dark);
}

/* MARINE */
:root.theme_marine {
    --bg: #2598c6;
    --bg-dark: #1d6b89;
    --bg-light: #2cb4ea;

    --text: #000000;
    --opptext: #ffffff;
}

:root.theme_marine .btn:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

:root.theme_marine .btn-normal {
    background-color: var(--bg-light);
}
